/target
/node_modules
/accounts
.breakpoints
.replit
replit.nix
servers.json
public.pem
private.pem
/servers/*
.env
/backup/*
/stores/*
/assets/jars
/assets/java
config.json
accounts.json
servers.json
/forgelibs
deleteLog.txt