/target
/node_modules
/uploads
/accounts
/pocketbase/pb_data
.breakpoints
.replit
replit.nix
servers.json
/pb_data
public.pem
private.pem
/java
/servers/*
!/servers/template
.env
/servers/template/cx_geyser-spigot_Geyser.jar
/servers/template/cx_floodgate-spigot_Floodgate.jar
/servers/template/downloading/*
/stores/settings.json
/stores/secrets.json
/stores/data.json
accounts.json
servers.json
/forgelibs
/data
